<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxrs="http://cxf.apache.org/jaxrs"
	xmlns:cxf="http://cxf.apache.org/core" xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="
         http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
         http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd
         http://www.springframework.org/schema/security
		http://www.springframework.org/schema/security/spring-security.xsd
		http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd
		http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">

	<jaxrs:server id="userService" address="/springsecurityrest">
		<jaxrs:serviceBeans>
			<ref bean="userServiceBean" />
		</jaxrs:serviceBeans>
		<jaxrs:providers>
			<bean class="org.codehaus.jackson.jaxrs.JacksonJaxbJsonProvider" />
		</jaxrs:providers>
	</jaxrs:server>

	<bean id="userServiceBean" class="com.nextgen.service.IUserServiceImpl" />

	<security:http use-expressions="true" auto-config="true"
		create-session="stateless">
		<security:intercept-url pattern="/springsecurityrest/user/**"
			access="authenticated" />
		<security:http-basic />
	</security:http>

	<security:authentication-manager alias="authenticationManager">
		<security:authentication-provider>
			<security:user-service>
				<security:user name="omkar" password="omkar"
					authorities="ROLE_USER,ROLE_ADMIN" />
			</security:user-service>
		</security:authentication-provider>
	</security:authentication-manager>


	<!-- adding the feature to the bus -->
	<cxf:bus> <cxf:features> <cxf:logging /> </cxf:features> </cxf:bus>
</beans>